@font-face {
    font-family: 'IRANsans';
    src: url('/fonts/woff2/IRANSansWeb.woff2') format('woff2'),
    url('/fonts/woff/IRANSansWeb.woff2') format('woff'),
    url('/fonts/ttf/IRANSansWeb.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html,body {
    font-family: 'IRANsans' !important;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
/* محتوای اصلی صفحه */
.content {
    flex: 1; /* فضای خالی رو پر می‌کنه */
}
.product-image {
    width: 100%;
    border-radius: 10px;
}
.btn-buy {
    width: 100%;
    font-size: 18px;
    padding: 10px;
}
.bi-cart-fill::after {
    content: attr(value);
    font-size: 12px;
    color: #fff;
    background: red;
    border-radius: 50%;
    padding: 0 5px;
    position: relative;
    left: 25px;
    top: -10px;
    opacity: 0.9;
}
a{
    text-decoration: none;
}
.header-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px; /* فاصله بین آیتم‌ها */
}

.header-menu li {
    display: inline-block;
}

.header-menu a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    padding: 8px 12px;
    transition: color 0.3s, background 0.3s;
}

.header-menu a:hover {
    color: #007bff;
    background: rgba(0, 123, 255, 0.1);
    border-radius: 6px;
}
