@font-face {
    font-family: 'IRANsans';
    src: url('/fonts/woff2/IRANSansWeb.woff2') format('woff2'),
    url('/fonts/woff/IRANSansWeb.woff2') format('woff'),
    url('/fonts/ttf/IRANSansWeb.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html,body {
    font-family: 'IRANsans' !important;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
/* محتوای اصلی صفحه */
.content {
    flex: 1; /* فضای خالی رو پر می‌کنه */
}
.product-image {
    width: 100%;
    border-radius: 10px;
}
.btn-buy {
    width: 100%;
    font-size: 18px;
    padding: 10px;
}
